<%- include("templates/encabezado") %>

<div style="width: 100%; text-align:center;">
    <h1>Producto Agregado</h1>
    <br><br>
    <p>Nombre: <%= nombre %></p>
    <p>Codigo: <%= codigo %></p>
    <p>Descripción: <%= descripcion %></p>
    <p>Costo: <%= costo %></p>
</div>
<%- include("templates/pie") %>